USE [WebContactBook]
GO
/****** Object:  Table [dbo].[ClassRoom]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassRoom](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[GradeId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[TeacherId] [int] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ClassRoom] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassStudent]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassStudent](
	[ClassStudentId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
 CONSTRAINT [PK_ClassStudent] PRIMARY KEY CLUSTERED 
(
	[ClassStudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassSubjectTeacher]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassSubjectTeacher](
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Degree]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Degree](
	[DegreeId] [int] IDENTITY(1,1) NOT NULL,
	[DegreeName] [nvarchar](50) NOT NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Degree] PRIMARY KEY CLUSTERED 
(
	[DegreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grade]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grade](
	[GradeId] [int] IDENTITY(1,1) NOT NULL,
	[GradeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Grade] PRIMARY KEY CLUSTERED 
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nation]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nation](
	[NationId] [int] IDENTITY(1,1) NOT NULL,
	[NationName] [nchar](20) NOT NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Nation] PRIMARY KEY CLUSTERED 
(
	[NationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Religion]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Religion](
	[ReligionId] [int] IDENTITY(1,1) NOT NULL,
	[ReligionName] [nvarchar](50) NOT NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Religion] PRIMARY KEY CLUSTERED 
(
	[ReligionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[SemesterId] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [nvarchar](50) NOT NULL,
	[CoefficientSemester] [int] NOT NULL,
 CONSTRAINT [PK_Semester] PRIMARY KEY CLUSTERED 
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Gender] [bit] NOT NULL,
	[DayOfBirth] [datetime] NOT NULL,
	[PlaceOfBirth] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[NationId] [int] NOT NULL,
	[ReligionId] [int] NOT NULL,
	[FartherName] [nvarchar](50) NULL,
	[MortherName] [nvarchar](50) NULL,
	[JobName] [nvarchar](200) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[AvatarPath] [nvarchar](max) NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](50) NOT NULL,
	[Coefficient] [int] NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectResult]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectResult](
	[SubjectResultId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[ListPoint] [nvarchar](500) NULL,
	[ListDate] [nvarchar](500) NULL,
	[Pointlock] [bit] NULL,
 CONSTRAINT [PK_SubjectResult] PRIMARY KEY CLUSTERED 
(
	[SubjectResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[TeacherName] [nvarchar](50) NOT NULL,
	[DayOfBirth] [date] NULL,
	[PlaceOfBirth] [nvarchar](50) NULL,
	[Gender] [bit] NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[AvatarPath] [nvarchar](max) NULL,
	[DegreeId] [int] NOT NULL,
	[IsDelete] [bit] NULL,
	[DayToWork] [date] NULL,
	[Position] [nvarchar](50) NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClassRoom] ON 

INSERT [dbo].[ClassRoom] ([ClassId], [ClassName], [GradeId], [CourseId], [TeacherId], [IsDeleted]) VALUES (14, N'10A1', 1, 1, 1, 0)
INSERT [dbo].[ClassRoom] ([ClassId], [ClassName], [GradeId], [CourseId], [TeacherId], [IsDeleted]) VALUES (15, N'11A', 2, 1, 3, 0)
INSERT [dbo].[ClassRoom] ([ClassId], [ClassName], [GradeId], [CourseId], [TeacherId], [IsDeleted]) VALUES (16, N'12A', 3, 1, 4, 0)
SET IDENTITY_INSERT [dbo].[ClassRoom] OFF
GO
SET IDENTITY_INSERT [dbo].[ClassStudent] ON 

INSERT [dbo].[ClassStudent] ([ClassStudentId], [ClassId], [StudentId]) VALUES (2, 14, 2)
INSERT [dbo].[ClassStudent] ([ClassStudentId], [ClassId], [StudentId]) VALUES (4, 15, 3)
INSERT [dbo].[ClassStudent] ([ClassStudentId], [ClassId], [StudentId]) VALUES (5, 14, 4)
SET IDENTITY_INSERT [dbo].[ClassStudent] OFF
GO
INSERT [dbo].[ClassSubjectTeacher] ([ClassId], [SubjectId], [TeacherId]) VALUES (14, 1, 1)
INSERT [dbo].[ClassSubjectTeacher] ([ClassId], [SubjectId], [TeacherId]) VALUES (14, 2, 3)
INSERT [dbo].[ClassSubjectTeacher] ([ClassId], [SubjectId], [TeacherId]) VALUES (14, 3, 4)
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([CourseId], [CourseName], [IsDelete]) VALUES (1, N'Năm 2019', NULL)
INSERT [dbo].[Course] ([CourseId], [CourseName], [IsDelete]) VALUES (2, N'Năm 2020', NULL)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Degree] ON 

INSERT [dbo].[Degree] ([DegreeId], [DegreeName], [IsDelete]) VALUES (1, N'Cử Nhân', 0)
SET IDENTITY_INSERT [dbo].[Degree] OFF
GO
SET IDENTITY_INSERT [dbo].[Grade] ON 

INSERT [dbo].[Grade] ([GradeId], [GradeName]) VALUES (1, N'Khối 10')
INSERT [dbo].[Grade] ([GradeId], [GradeName]) VALUES (2, N'Khối 11')
INSERT [dbo].[Grade] ([GradeId], [GradeName]) VALUES (3, N'Khối 12')
SET IDENTITY_INSERT [dbo].[Grade] OFF
GO
SET IDENTITY_INSERT [dbo].[Nation] ON 

INSERT [dbo].[Nation] ([NationId], [NationName], [IsDelete]) VALUES (1, N'Kinh                ', 0)
INSERT [dbo].[Nation] ([NationId], [NationName], [IsDelete]) VALUES (2, N'Tày                 ', 0)
INSERT [dbo].[Nation] ([NationId], [NationName], [IsDelete]) VALUES (3, N'Thái                ', 0)
SET IDENTITY_INSERT [dbo].[Nation] OFF
GO
SET IDENTITY_INSERT [dbo].[Religion] ON 

INSERT [dbo].[Religion] ([ReligionId], [ReligionName], [IsDelete]) VALUES (1, N'Phật giáo	               ', 0)
INSERT [dbo].[Religion] ([ReligionId], [ReligionName], [IsDelete]) VALUES (2, N'Công giáo     ', 0)
INSERT [dbo].[Religion] ([ReligionId], [ReligionName], [IsDelete]) VALUES (3, N'Hòa Hảo', 0)
SET IDENTITY_INSERT [dbo].[Religion] OFF
GO
SET IDENTITY_INSERT [dbo].[Semester] ON 

INSERT [dbo].[Semester] ([SemesterId], [SemesterName], [CoefficientSemester]) VALUES (1, N'Học kì 1', 1)
INSERT [dbo].[Semester] ([SemesterId], [SemesterName], [CoefficientSemester]) VALUES (2, N'Học kì 2', 2)
SET IDENTITY_INSERT [dbo].[Semester] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([StudentId], [FirstName], [LastName], [Gender], [DayOfBirth], [PlaceOfBirth], [Address], [NationId], [ReligionId], [FartherName], [MortherName], [JobName], [PhoneNumber], [AvatarPath], [IsDelete]) VALUES (1, N'Phụng ', N'Nguyễn Thị', 1, CAST(N'2004-05-09T00:31:57.790' AS DateTime), N'Hà Giang-Việt Nam', N'554-Bình Điền-Huế-Việt Nam', 1, 4, N'Trần Hữu Văn Hiệu', N'Hồ Anh Ngọc ', N'Hưu trí', N'9773733310', N'http://mzhqv.webc/quguw/idhuw/ccnol/ehauc/ueqrg.xls', 0)
INSERT [dbo].[Student] ([StudentId], [FirstName], [LastName], [Gender], [DayOfBirth], [PlaceOfBirth], [Address], [NationId], [ReligionId], [FartherName], [MortherName], [JobName], [PhoneNumber], [AvatarPath], [IsDelete]) VALUES (2, N'Duy', N'1', 1, CAST(N'2020-02-02T00:00:00.000' AS DateTime), N'Tp Hue', N'28 Nguyen Tri Phuong', 1, 1, N'Le Duy', N'Duy le', N'Kinh doanh', N'0909898789', N'abc', 1)
INSERT [dbo].[Student] ([StudentId], [FirstName], [LastName], [Gender], [DayOfBirth], [PlaceOfBirth], [Address], [NationId], [ReligionId], [FartherName], [MortherName], [JobName], [PhoneNumber], [AvatarPath], [IsDelete]) VALUES (3, N'Duc', N'Cong', 0, CAST(N'2020-01-01T00:00:00.000' AS DateTime), N'Tp Hue', N'29 Nguyenx Hue', 1, 1, N'Duc Cap', N'Cap Duc', N'Nội trợ', N'0989876546', N'cdf', 0)
GO
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([SubjectId], [SubjectName], [Coefficient]) VALUES (1, N'Toán', 2)
INSERT [dbo].[Subject] ([SubjectId], [SubjectName], [Coefficient]) VALUES (2, N'Văn', 2)
INSERT [dbo].[Subject] ([SubjectId], [SubjectName], [Coefficient]) VALUES (3, N'Anh', 1)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[SubjectResult] ON 

INSERT [dbo].[SubjectResult] ([SubjectResultId], [StudentId], [SemesterId], [SubjectId], [ClassId], [ListPoint], [ListDate], [Pointlock]) VALUES (2902, 2, 1, 1, 14, N'7,9,10,10,8,8,8,9,8.6,7,10,8.68', N'2020-08-14,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-14', NULL)
INSERT [dbo].[SubjectResult] ([SubjectResultId], [StudentId], [SemesterId], [SubjectId], [ClassId], [ListPoint], [ListDate], [Pointlock]) VALUES (2903, 2, 2, 1, 14, N'10,10,9,7,8,8,5.6,7,8,9,6,7.77', N'2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13', NULL)
INSERT [dbo].[SubjectResult] ([SubjectResultId], [StudentId], [SemesterId], [SubjectId], [ClassId], [ListPoint], [ListDate], [Pointlock]) VALUES (2904, 4, 1, 1, 14, N'9,8,5,7,8,8,6,9,7,8,8.6,7.72', N'2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13,2020-08-13', NULL)
GO
SET IDENTITY_INSERT [dbo].[SubjectResult] OFF
GO
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([TeacherId], [TeacherName], [DayOfBirth], [PlaceOfBirth], [Gender], [Phone], [Address], [SubjectId], [AvatarPath], [DegreeId], [IsDelete], [DayToWork], [Position]) VALUES (3, N'Giáo Viên Toán', CAST(N'2020-01-01' AS Date), N'Huế 1', 0, N'0123456789', N'2 Nguyễn Tri Phương', 5, NULL, 1, 0, NULL, NULL)
INSERT [dbo].[Teacher] ([TeacherId], [TeacherName], [DayOfBirth], [PlaceOfBirth], [Gender], [Phone], [Address], [SubjectId], [AvatarPath], [DegreeId], [IsDelete], [DayToWork], [Position]) VALUES (4, N'Giáo Viên Văn', CAST(N'2020-01-01' AS Date), N'Huế 2', 0, N'01236987', N'3 Nguyễn Tri Phương', 2, NULL, 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Teacher] OFF
GO
ALTER TABLE [dbo].[ClassRoom]  WITH CHECK ADD  CONSTRAINT [FK_ClassRoom_Course1] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[ClassRoom] CHECK CONSTRAINT [FK_ClassRoom_Course1]
GO
ALTER TABLE [dbo].[ClassRoom]  WITH CHECK ADD  CONSTRAINT [FK_ClassRoom_Grade] FOREIGN KEY([GradeId])
REFERENCES [dbo].[Grade] ([GradeId])
GO
ALTER TABLE [dbo].[ClassRoom] CHECK CONSTRAINT [FK_ClassRoom_Grade]
GO
ALTER TABLE [dbo].[ClassRoom]  WITH CHECK ADD  CONSTRAINT [FK_ClassRoom_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([TeacherId])
GO
ALTER TABLE [dbo].[ClassRoom] CHECK CONSTRAINT [FK_ClassRoom_Teacher]
GO
ALTER TABLE [dbo].[ClassStudent]  WITH CHECK ADD  CONSTRAINT [FK_ClassStudent_ClassRoom] FOREIGN KEY([ClassId])
REFERENCES [dbo].[ClassRoom] ([ClassId])
GO
ALTER TABLE [dbo].[ClassStudent] CHECK CONSTRAINT [FK_ClassStudent_ClassRoom]
GO
ALTER TABLE [dbo].[ClassStudent]  WITH CHECK ADD  CONSTRAINT [FK_ClassStudent_Student1] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[ClassStudent] CHECK CONSTRAINT [FK_ClassStudent_Student1]
GO
ALTER TABLE [dbo].[ClassSubjectTeacher]  WITH CHECK ADD  CONSTRAINT [FK_ClassSubjectTeacher_ClassRoom] FOREIGN KEY([ClassId])
REFERENCES [dbo].[ClassRoom] ([ClassId])
GO
ALTER TABLE [dbo].[ClassSubjectTeacher] CHECK CONSTRAINT [FK_ClassSubjectTeacher_ClassRoom]
GO
ALTER TABLE [dbo].[ClassSubjectTeacher]  WITH CHECK ADD  CONSTRAINT [FK_ClassSubjectTeacher_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[ClassSubjectTeacher] CHECK CONSTRAINT [FK_ClassSubjectTeacher_Subject]
GO
ALTER TABLE [dbo].[ClassSubjectTeacher]  WITH CHECK ADD  CONSTRAINT [FK_ClassSubjectTeacher_Teacher] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teacher] ([TeacherId])
GO
ALTER TABLE [dbo].[ClassSubjectTeacher] CHECK CONSTRAINT [FK_ClassSubjectTeacher_Teacher]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Nation] FOREIGN KEY([NationId])
REFERENCES [dbo].[Nation] ([NationId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Nation]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Religion] FOREIGN KEY([ReligionId])
REFERENCES [dbo].[Religion] ([ReligionId])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Religion]
GO
ALTER TABLE [dbo].[SubjectResult]  WITH CHECK ADD  CONSTRAINT [FK_SubjectResult_ClassRoom] FOREIGN KEY([ClassId])
REFERENCES [dbo].[ClassRoom] ([ClassId])
GO
ALTER TABLE [dbo].[SubjectResult] CHECK CONSTRAINT [FK_SubjectResult_ClassRoom]
GO
ALTER TABLE [dbo].[SubjectResult]  WITH CHECK ADD  CONSTRAINT [FK_SubjectResult_Semester1] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semester] ([SemesterId])
GO
ALTER TABLE [dbo].[SubjectResult] CHECK CONSTRAINT [FK_SubjectResult_Semester1]
GO
ALTER TABLE [dbo].[SubjectResult]  WITH CHECK ADD  CONSTRAINT [FK_SubjectResult_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[SubjectResult] CHECK CONSTRAINT [FK_SubjectResult_Student]
GO
ALTER TABLE [dbo].[SubjectResult]  WITH CHECK ADD  CONSTRAINT [FK_SubjectResult_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[SubjectResult] CHECK CONSTRAINT [FK_SubjectResult_Subject]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Degree] FOREIGN KEY([DegreeId])
REFERENCES [dbo].[Degree] ([DegreeId])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Degree]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubjectId])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_Teacher_Subject]
GO
/****** Object:  StoredProcedure [dbo].[sp_Create_SubjectResult]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveDepartment]    Script Date: 7/22/2020 10:52:18 AM ******/


-- =============================================
-- Author:		Duy Le
-- Create date: 7/14/2020
-- Description:	create/update Student
-- =============================================
CREATE PROCEDURE [dbo].[sp_Create_SubjectResult]
		@StudentId int, 
		@SemesterId int,
		@SubjectId int,
		@TypePointId int,
		@CourseId int,
		@ClassId int
		
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
INSERT INTO [dbo].[SubjectResult]
           ([StudentId]
           ,[SemesterId]
           ,[SubjectId]
           ,[Point]
           ,[DateInput]
           ,[TypePointId]
           ,[CourseId]
		   ,[ClassId]
         )
     VALUES
           (@StudentId,
		   @SemesterId,
		   @SubjectId,
		   null,
		   null,
		   @TypePointId,
		   @CourseId,
		   @ClassId
		)
			 SET @Message = 'Student has been Create successfully!'
			 		SELECT @Message AS [Message]

	END TRY
	BEGIN CATCH
		SELECT @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Student]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Duy Le
-- Create date: 7/27/2020
-- Description:	delete Student by StudentId
-- =============================================
Create PROCEDURE [dbo].[sp_Delete_Student]
	@StudentId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again'
	BEGIN TRY
		UPDATE [dbo].[Student]
		 SET [IsDelete] = 1
		WHERE StudentId = @StudentId

		SET @Message = 'Employee has been deleted successfully!'
		SELECT @StudentId AS EmployeeId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SELECT @StudentId AS EmployeeId, @Message AS [Message]
	END CATCH
	

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Teacher]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duc Tran
-- Create date: 8/4/2020
-- Description:	delete teacher by teacher id
-- =============================================
create PROCEDURE [dbo].[sp_Delete_Teacher]
	@TeacherId INT
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again'
	BEGIN TRY
		UPDATE [dbo].[Teacher]
		SET [IsDelete] = 1
		WHERE TeacherId = @TeacherId
		SET @Message = 'Teacher has been deleted successfully!'
		SELECT @TeacherId AS TeacherId, @Message AS [Message]
	END TRY
	BEGIN CATCH
		SELECT @TeacherId AS TeacherId, @Message AS [Message]
	END CATCH
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_All_Nation]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duc Tran
-- Create date: 7/29/2020
-- Description: Get nations
-- =============================================
create PROCEDURE [dbo].[sp_Get_All_Nation]
AS
BEGIN
	
	SELECT n.[NationId]
      ,n.[NationName]
	  ,(SELECT COUNT(*) FROM Student s WHERE s.NationId = n.NationId) AS Students
	FROM [dbo].[Nation] n
	WHERE n.IsDelete = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_All_TypePoint]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/29/2020
-- Description: Get nations
-- =============================================
create PROCEDURE [dbo].[sp_Get_All_TypePoint]
AS
BEGIN
	
	SELECT TypePoint.*
	FROM [dbo].TypePoint 
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_ClassRoom_ByClassId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get Class All
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_ClassRoom_ByClassId]
@ClassId int
AS
BEGIN
SELECT [ClassId]
      ,[ClassName]

	  ,co.[CourseName]

	  ,te.TeacherName
  FROM [dbo].ClassRoom cl
  inner join Teacher te on te.TeacherId = cl.TeacherId
  inner join Course co on co.CourseId=cl.CourseId
  where cl.ClassId=@ClassId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_ClassRooms_ByCourseIdAndGradeId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get ClassRooms by CoureseId and GradeId
-- =============================================
create PROCEDURE [dbo].[sp_Get_ClassRooms_ByCourseIdAndGradeId] 
@GradeId INT,
@CourseId INT
AS
BEGIN
SELECT cr.[ClassId]
      ,[ClassName]
	  ,cr.GradeId
	  ,gr.GradeName
	  ,cr.CourseId
	  ,cs.CourseName as CourseName
	  ,cr.TeacherId
	  ,tc.TeacherName as TeacherName
  FROM [dbo].ClassRoom cr
  inner join Grade gr on gr.GradeId=cr.GradeId
  inner join Course cs on cs.CourseId = cr.CourseId
  inner join Teacher tc on tc.TeacherId = cr.TeacherId
  WHERE cr.GradeId = @GradeId AND cr.CourseId = @CourseId AND IsDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_ClassRoomsAll]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get Class All
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_ClassRoomsAll]
AS
BEGIN
SELECT [ClassId]
      ,[ClassName]
	  ,[GradeId]
	  ,[CourseId]
	  ,cl.[TeacherId]
	  ,te.TeacherName
  FROM [dbo].ClassRoom cl
  inner join Teacher te on te.TeacherId = cl.TeacherId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_CoursesAll]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get Courses All
-- =============================================
Create PROCEDURE [dbo].[sp_Get_CoursesAll]
AS
BEGIN
SELECT [CourseId]
      ,[CourseName]
  FROM [dbo].Course

END
GO
/****** Object:  StoredProcedure [dbo].[Sp_Get_DegreeAll]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hong An
-- Create date: 8/03/2020
-- Description:	Get all Degree
-- =============================================
create PROCEDURE [dbo].[Sp_Get_DegreeAll]
AS
BEGIN
SELECT [DegreeId]
      ,[DegreeName]
      ,[IsDelete]
  FROM [dbo].[Degree]
  WHERE IsDelete = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Grade_All]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get Grades
-- =============================================
create PROCEDURE [dbo].[sp_Get_Grade_All]
AS
BEGIN
SELECT [GradeId]
      ,[GradeName]
  FROM [dbo].[Grade]

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_NationAll]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hong An
-- Create date: 08/10/2020
-- Description: Get nations
-- =============================================
create PROCEDURE [dbo].[sp_Get_NationAll]
AS
BEGIN
	
	SELECT [NationId]
      ,[NationName]
	FROM [dbo].[Nation]
	WHERE IsDelete = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Point_ClassId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get employee by ClassId
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_Point_ClassId]
	@ClassId INT,
	@SubjectId int,
	@SemesterId int
AS
BEGIN
SELECT sr.*
  FROM [dbo].[Student] st
  inner join ClassStudent cla on cla.StudentId= st.StudentId
  inner join SubjectResult sr on st.StudentId= sr.StudentId
  inner join Semester se on se.SemesterId= sr.SemesterId
  inner join Subject su on su.SubjectID = sr.SubjectId
  WHERE cla.ClassId=@ClassId and se.SemesterId=@SemesterId and su.SubjectID=@SubjectId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Point_StudenId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get employee by ClassId
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_Point_StudenId]
	@StudentId INT,
	@SemesterId int
AS
BEGIN
SELECT sr.*
  FROM [dbo].[Student] st
  inner join SubjectResult sr on st.StudentId= sr.StudentId
  inner join Semester se on se.SemesterId= sr.SemesterId
  WHERE st.StudentId=@StudentId and se.SemesterId=@SemesterId

END
GO
/****** Object:  StoredProcedure [dbo].[Sp_Get_ReligionAll]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get Courses All
-- =============================================
CREATE PROCEDURE [dbo].[Sp_Get_ReligionAll]
AS
BEGIN
SELECT [ReligionId]
      ,[ReligionName]
      ,[IsDelete]
  FROM [dbo].[Religion]
  WHERE IsDelete = 0


END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_SemesterAll]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get Subjets
-- =============================================
Create PROCEDURE [dbo].[sp_Get_SemesterAll]
AS
BEGIN
SELECT SemesterId
      ,SemesterName
	  ,CoefficientSemester
  FROM [dbo].Semester

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Student_byStudentId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Duy Le
-- Create date: 7/22/2020
-- Description:	Get employee by StudentID
-- =============================================
create PROCEDURE [dbo].[sp_Get_Student_byStudentId]
	@StudentId INT
AS
BEGIN
SELECT 
      [FirstName]
	  ,[LastName]
      ,(CASE WHEN [Gender] = 1 THEN 'Male' ELSE 'Female' END) AS Gender
	  ,FORMAT([DayOfBirth], 'yyyy-MM-dd') AS [DayOfBirth]
      ,[PlaceOfBirth]
	  ,[Address]
	  ,[PhoneNumber]
	  ,[FartherName]
	  ,[MortherName]
      ,[AvatarPath]
	  ,na.NationName as NationName
	  ,re.ReligionName as ReligionName
	  ,jo.JobName as JobName
  FROM [dbo].[Student] st
  inner join Nation na on na.NationId = st.NationId
  inner join Religion re on re.ReligionId = st.ReligionId
  inner join Job jo on jo.JobId=st.JobId
  WHERE StudentId = @StudentId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_StudentAll]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hong An
-- Create date: 08/03/2020
-- Description:	Get Student all
-- =============================================
create PROCEDURE [dbo].[sp_Get_StudentAll]
AS
BEGIN
SELECT
	   [StudentId]
      ,[FirstName]
	  ,[LastName]
      ,(CASE WHEN [Gender] = 1 THEN 'Male' ELSE 'Female' END) AS Gender
	  ,FORMAT([DayOfBirth], 'yyyy-MM-dd') AS [DayOfBirth]
      ,[PlaceOfBirth]
	  ,[Address]
	  ,[PhoneNumber]
	  ,[FartherName]
	  ,[MortherName]
      ,[AvatarPath]
	  ,na.NationName as NationName
	  ,re.ReligionName as ReligionName
	  ,st.JobName as JobName
  FROM [dbo].[Student] st
  inner join Nation na on na.NationId = st.NationId
  inner join Religion re on re.ReligionId = st.ReligionId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_StudentDetail]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hong An
-- Create date: 08/03/2020
-- Description:	Get Student Detail
-- =============================================
create PROCEDURE [dbo].[sp_Get_StudentDetail]
@StudentId INT
AS
BEGIN
SELECT
	   [StudentId]
      ,[FirstName]
	  ,[LastName]
      ,(CASE WHEN [Gender] = 1 THEN 'Male' ELSE 'Female' END) AS Gender
	  ,FORMAT([DayOfBirth], 'yyyy-MM-dd') AS [DayOfBirth]
      ,[PlaceOfBirth]
	  ,[Address]
	  ,[PhoneNumber]
	  ,[FartherName]
	  ,[MortherName]
      ,[AvatarPath]
	  ,na.NationId
	  ,na.NationName as NationName
	  ,re.ReligionId
	  ,re.ReligionName as ReligionName
	  ,st.JobName as JobName
  FROM [dbo].[Student] st
  inner join Nation na on na.NationId = st.NationId
  inner join Religion re on re.ReligionId = st.ReligionId
  WHERE StudentId = @StudentId
END











GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Students_byClassId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hong An
-- Create date: 08/04/2020
-- Description:	Get student by ClassId
-- =============================================
create PROCEDURE [dbo].[sp_Get_Students_byClassId]
	@ClassId INT
AS
BEGIN
SELECT cs.[StudentId]
	  ,cs.[ClassId]
      ,[FirstName]
	  ,[LastName]
      ,(CASE WHEN [Gender] = 1 THEN 'Male' ELSE 'Female' END) AS Gender
	  ,FORMAT([DayOfBirth], 'yyyy-MM-dd') AS [DayOfBirth]
      ,[PlaceOfBirth]
  FROM [dbo].[Student] st
  inner join ClassStudent cs on cs.StudentId=st.StudentId
  inner join Nation na on na.NationId = st.NationId
  inner join Religion re on re.ReligionId = st.ReligionId
  WHERE cs.ClassId = @ClassId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Subject_ByClassId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get ClassRooms by CoureseId and GradeId
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_Subject_ByClassId]
@ClassId int
AS
BEGIN
SELECT  su.SubjectId,
		su.SubjectName,
		te.TeacherName,
		su.Coefficient
		
		
    
		
FROM [dbo].ClassRoom cl
inner join ClassSubjectTeacher cst on cst.ClassID=cl.ClassId
inner join Subject su on su.SubjectId=cst.SubjectId
inner join Teacher te on te.TeacherId=cst.TeacherId
Where cl.ClassId=@ClassId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Subject_ByClassId_SemesterId_SubjectId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get ClassRooms by CoureseId and GradeId
-- =============================================
create PROCEDURE [dbo].[sp_Get_Subject_ByClassId_SemesterId_SubjectId]
@SemesterId int,
@SubjectId int,
@ClassId int
AS
BEGIN
SELECT  
sure.SubjectResultId,
sure.StudentId,
sure.SemesterId,
sure.SubjectId,
sure.ListPoint,
sure.ListDate,
sure.ClassId
FROM [dbo].SubjectResult Sure
Where  sure.SemesterId=@SemesterId and sure.SubjectId=@SubjectId and sure.ClassId=@ClassId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Subject_ByClassId_SemesterId_SubjectId_StudentId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get ClassRooms by CoureseId and GradeId
-- =============================================
Create PROCEDURE [dbo].[sp_Get_Subject_ByClassId_SemesterId_SubjectId_StudentId]
@SemesterId int,
@SubjectId int,
@ClassId int,
@StudentId int
AS
BEGIN
SELECT  
sure.SubjectResultId,
sure.StudentId,
sure.SemesterId,
sure.SubjectId,
sure.ListPoint,
sure.ListDate,
sure.ClassId
FROM [dbo].SubjectResult Sure
Where  sure.SemesterId=@SemesterId and sure.SubjectId=@SubjectId and sure.ClassId=@ClassId and StudentId=@StudentId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Subject_ByCourseId_SemesterId_SubjectId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get ClassRooms by CoureseId and GradeId
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_Subject_ByCourseId_SemesterId_SubjectId]
@SemesterId int,
@SubjectId int,
@ClassId int
AS
BEGIN
SELECT  
sure.SubjectResultId,
sure.StudentId,
sure.SemesterId,
sure.SubjectId,
sure.ListPoint,
sure.ListDate,
sure.ClassId
FROM [dbo].SubjectResult Sure
Where  sure.SemesterId=@SemesterId and sure.SubjectId=@SubjectId and sure.ClassId=@ClassId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Subject_BySubjectResultId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get ClassRooms by CoureseId and GradeId
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_Subject_BySubjectResultId]
@SubjectResultId int

AS
BEGIN
SELECT  
sure.SubjectResultId,
sure.StudentId,
sure.SemesterId,
sure.SubjectId,
sure.ListPoint,
sure.ListDate,
sure.ClassId
FROM [dbo].SubjectResult Sure
Where  sure.SubjectResultId=@SubjectResultId 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_SubjectAll]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get Subjets
-- =============================================
Create PROCEDURE [dbo].[sp_Get_SubjectAll]
AS
BEGIN
SELECT SubjectId
      ,SubjectName
	  ,Coefficient
  FROM [dbo].Subject

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_SubjectResult_ByClassId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get ClassRooms by CoureseId and GradeId
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_SubjectResult_ByClassId]
@ClassId int
AS
BEGIN
SELECT  
sure.SubjectResultId,
sure.StudentId,
sure.SemesterId,
sure.SubjectId,
sure.ListPoint,
sure.ListDate,
sure.ClassId

FROM [dbo].SubjectResult Sure
inner join  Student stu on stu.StudentId = sure.StudentId
inner join ClassRoom cl on cl.ClassId=sure.ClassId
Where sure.ClassId=@ClassId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_SubjectResult_ByClassId_StudentId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get ClassRooms by CoureseId and GradeId
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_SubjectResult_ByClassId_StudentId]
@ClassId int,
@StudentId int
AS
BEGIN
SELECT  
sure.SubjectResultId,
sure.StudentId,
sure.SemesterId,
sure.SubjectId,
sure.ListPoint,
sure.ListDate,
sure.ClassId,
su.SubjectName,
te.TeacherName
FROM [dbo].SubjectResult Sure
inner join  Student stu on stu.StudentId = sure.StudentId
inner join ClassRoom cl on cl.ClassId=sure.ClassId
inner join Subject su on su.SubjectId=Sure.SubjectId
inner join ClassSubjectTeacher cla on cla.SubjectId=su.SubjectId
inner join Teacher te on te.TeacherId=cla.TeacherId
Where sure.ClassId=@ClassId  and sure.StudentId=@StudentId 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Teacher_All]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hong An
-- Create date: 08/03/2020
-- Description:	Get Student all
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_Teacher_All]
AS
BEGIN
SELECT
	   TeacherId
      ,TeacherName
	   ,FORMAT([DayOfBirth], 'yyyy-MM-dd') AS [DayOfBirth]
      ,(CASE WHEN [Gender] = 1 THEN 'Male' ELSE 'Female' END) AS Gender	 
      ,PlaceOfBirth
	  ,[Address]
	  ,Phone
	  ,SubjectId
      ,AvatarPath
	  ,DegreeId
	  ,FORMAT([DayToWork], 'yyyy-MM-dd') AS [DayToWork]
  FROM [dbo].Teacher
  where IsDelete=0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Teacher_ByClassId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get ClassRooms by CoureseId and GradeId
-- =============================================
Create PROCEDURE [dbo].[sp_Get_Teacher_ByClassId] 
@ClassId int
AS
BEGIN
SELECT  cl.[ClassId]
      ,[ClassName]
	  ,te.TeacherId
	  ,te.TeacherName as TeacherName
		
FROM [dbo].ClassRoom cl
inner join Teacher te on te.TeacherId =cl.TeacherId
Where cl.ClassId=@ClassId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Teacher_ById]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duc Tran
-- Create date: 8/03/2020
-- Description: Get all teacher by id
-- =============================================
create PROCEDURE [dbo].[sp_Get_Teacher_ById]
@TeacherId INT
AS
BEGIN
SELECT [TeacherId]
      ,[TeacherName]
      ,FORMAT([DayOfBirth], 'yyyy-MM-dd') AS [DayOfBirth]
      ,[PlaceOfBirth]
      ,[Gender]
      ,[Phone]
      ,[Address]
      ,t.[SubjectId]
	  ,s.SubjectName
      ,[AvatarPath]
      ,t.[DegreeId]
	  ,d.DegreeName
	  ,FORMAT([DayToWork], 'yyyy-MM-dd') AS [DayToWork]
	FROM [dbo].[Teacher] t
	inner join Degree d ON  d.DegreeId = t.DegreeId
	inner join Subject s ON  s.SubjectId = t.SubjectId
	WHERE TeacherId = @TeacherId ANd t.IsDelete = 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_Teacher_bySubjectId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hong An
-- Create date: 08/03/2020
-- Description:	Get Student all
-- =============================================
CREATE PROCEDURE [dbo].[sp_Get_Teacher_bySubjectId]
@SubjectId INT
AS
BEGIN
SELECT TeacherId
      ,TeacherName
	   ,FORMAT([DayOfBirth], 'yyyy-MM-dd') AS [DayOfBirth]
      ,(CASE WHEN [Gender] = 1 THEN 'Male' ELSE 'Female' END) AS Gender	 
	  ,Phone
      ,AvatarPath
  FROM [dbo].Teacher te
  inner join Subject su on su.SubjectId=te.SubjectId
  where su.SubjectId=@SubjectId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Save_Point]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveDepartment]    Script Date: 7/22/2020 10:52:18 AM ******/


-- =============================================
-- Author:		Duy Le
-- Create date: 7/14/2020
-- Description:	create/update Student
-- =============================================
Create PROCEDURE [dbo].[sp_Save_Point]
		@SubjectResultId int,
		@StudentId int,
		@SemesterId int,
		@SubjectId int,
		@Point float,
		@TypePointId int,
		@CourseId int,
		@ClassId int
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
		--Create new Department
		IF(CONVERT(INT, @SubjectResultId) IS NULL OR CONVERT(INT, @SubjectResultId) = 0)
		BEGIN

INSERT INTO [dbo].[SubjectResult]
           ([StudentId]
           ,[SemesterId]
           ,[SubjectId]
           ,[Point]
           ,[DateInput]
           ,[TypePointId]
           ,[CourseId]
           ,[IsDelete]
           ,[ClassId])
     VALUES
           (@StudentId
           ,@SemesterId
           ,@SubjectId
           ,@Point
           ,GETDATE()
           ,@TypePointId
           ,@CourseId
           ,0
           ,@ClassId)
			SET @SubjectResultId = SCOPE_IDENTITY()
			SET @Message = 'Point has been created successfully!'
			END
		ELSE --Update Employee by Id
		BEGIN



UPDATE [dbo].[SubjectResult]
   SET 
      [Point] = @Point
      ,[DateInput] = GETDATE()
	 WHERE SubjectResultId = @SubjectResultId
			 SET @Message = 'Point has been updated successfully!'
		END

		SELECT @SubjectResultId AS SubjectResultId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @SubjectResultId = 0
		SELECT @SubjectResultId AS SubjectResultId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Save_Student]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveDepartment]    Script Date: 7/22/2020 10:52:18 AM ******/


-- =============================================
-- Author:		Duy Le
-- Create date: 7/14/2020
-- Description:	create/update Student
-- =============================================
Create PROCEDURE [dbo].[sp_Save_Student]
		@StudentId int,
		@FirstName nvarchar(50),
		@LastName nvarchar(50),
		@Gender bit,
        @DayOfBirth datetime,
        @PlaceOfBirth nvarchar(200),
		@Address nvarchar(200),
		@NationId int,
		@ReligionId int,
		@FartherName nvarchar(50),
		@MortherName nvarchar(50),
		@JobId int,
		@PhoneNumber nvarchar(50),
		@AvatarPath nvarchar(MAX)
		
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
		--Create new Department
		IF(CONVERT(INT, @StudentId) IS NULL OR CONVERT(INT, @StudentId) = 0)
		BEGIN
INSERT INTO [dbo].[Student]
           ([FirstName]
           ,[LastName]
           ,[Gender]
           ,[DayOfBirth]
           ,[PlaceOfBirth]
           ,[Address]
           ,[NationId]
           ,[ReligionId]
           ,[FartherName]
           ,[MortherName]
           ,[JobId]
           ,[PhoneNumber]
           ,[AvatarPath]
           ,[IsDelete])
     VALUES
           (@FirstName
           ,@LastName
           ,@Gender
           ,@DayOfBirth
           ,@PlaceOfBirth
           ,@Address
           ,@NationId
           ,@ReligionId
           ,@FartherName
           ,@MortherName
           ,@JobId
           ,@PhoneNumber
           ,@AvatarPath
           ,0)
			SET @StudentId = SCOPE_IDENTITY()
			SET @Message = 'Student has been created successfully!'
			END
		ELSE --Update Employee by Id
		BEGIN


UPDATE [dbo].[Student]
   SET [FirstName] = @FirstName
      ,[LastName] = @LastName
      ,[Gender] = @Gender
      ,[DayOfBirth] = @DayOfBirth
      ,[PlaceOfBirth] = @PlaceOfBirth
      ,[Address] = @Address
      ,[NationId] = @NationId
      ,[ReligionId] = @ReligionId
      ,[FartherName] = @FartherName
      ,[MortherName] = @MortherName
      ,[JobId] = @JobId
      ,[PhoneNumber] = @PhoneNumber
      ,[AvatarPath] = @AvatarPath
	 WHERE StudentId = @StudentId
			 SET @Message = 'Student has been updated successfully!'
		END

		SELECT @StudentId AS StudentId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @StudentId = 0
		SELECT @StudentId AS StudentId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Save_SubjectResult]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveDepartment]    Script Date: 7/22/2020 10:52:18 AM ******/


-- =============================================
-- Author:		Duy Le
-- Create date: 7/14/2020
-- Description:	create/update Student
-- =============================================
CREATE PROCEDURE [dbo].[sp_Save_SubjectResult]
		@SubjectResultId int,
		@StudentId int,
		@SemesterId int,
		@SubjectId int,
		@ClassId int,
		@ListPoint nvarchar(500),
		@ListDate nvarchar(500)
	
AS
BEGIN
	DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
		--Create new Department
			IF(CONVERT(INT, @SubjectResultId) IS NULL OR CONVERT(INT, @SubjectResultId) = 0)
		BEGIN

INSERT INTO [dbo].[SubjectResult]
           ([StudentId]
           ,[SemesterId]
           ,[SubjectId]
		   ,[ClassId]
           ,[ListPoint]
           ,[ListDate]
		   )
     VALUES
           (@StudentId
           ,@SemesterId
           ,@SubjectId
           ,@ClassId
           ,@ListPoint
           ,@ListDate)
		   SET @SubjectResultId = SCOPE_IDENTITY()
			SET @Message = 'Point has been created successfully!'
			END
		ELSE
		BEGIN
UPDATE [dbo].[SubjectResult]
   SET 
      [ListPoint] = @ListPoint
      ,[ListDate] = @ListDate
	 WHERE SubjectResultId = @SubjectResultId
			 SET @Message = 'Point has been updated successfully!'
		END

		SELECT @SubjectResultId AS SubjectResultId, @Message AS [Message]

	END TRY
	BEGIN CATCH
		SET @SubjectResultId = 0
		SELECT @SubjectResultId AS SubjectResultId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Save_Teacher]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duc Tran
-- Create date: 8/03/2020
-- Description: Save teacher
-- =============================================
CREATE PROCEDURE [dbo].[sp_Save_Teacher]
@TeacherId INT
,@TeacherName nvarchar(50)
,@DayOfBirth nvarchar(20)
,@PlaceOfBirth nvarchar(50)
,@Gender bit
,@Phone nvarchar(50)
,@Address nvarchar(50)
,@SubjectId int
,@AvatarPath nvarchar(max)
,@DegreeId int
,@DayToWork nvarchar(20)
AS
BEGIN
DECLARE @Message NVARCHAR(200) = 'Something went wrong, please try again!'
	BEGIN TRY
		--Create new Teacher
		IF(@TeacherId IS NULL OR @TeacherId = 0)
		BEGIN
	INSERT INTO [dbo].[Teacher]
      ([TeacherName]
      ,[DayOfBirth]
      ,[PlaceOfBirth]
      ,[Gender]
      ,[Phone]
      ,[Address]
      ,[SubjectId]
      ,[AvatarPath]
      ,[DegreeId]
      ,[IsDelete]
      ,[DayToWork])
	   VALUES
           (@TeacherName
           ,CONVERT(datetime,@DayOfBirth, 111)
		   ,@PlaceOfBirth
           ,CONVERT(bit,@Gender)
		   ,@Phone
           ,@Address
           ,@SubjectId
           ,@AvatarPath
		   ,@DegreeId
           ,0
		   ,CONVERT(datetime,@DayToWork,111))
			SET @TeacherId = SCOPE_IDENTITY()
			SET @Message = 'Teacher has been created successfully!'
		END
		ELSE --Update Teacher by Id
		BEGIN
	UPDATE [dbo].[Teacher]
	   SET	[TeacherName] = @TeacherName
			   ,[DayOfBirth] = @DayOfBirth
			   ,[PlaceOfBirth] = @PlaceOfBirth
			   ,[Gender] = @Gender
			   ,[Phone] = @Phone
			   ,[Address] = @Address
			   ,[SubjectId] = @SubjectId
			   ,[AvatarPath] = @AvatarPath
			   ,[DegreeId] = @DegreeId
		WHERE TeacherId = @TeacherId
				SET @Message = 'Teacher has been updated successfully!'
		END
		SELECT @TeacherId AS TeacherId, @Message AS [Message]
	END TRY
	BEGIN CATCH
		SET @TeacherId = 0
		SELECT @TeacherId AS TeacherId, @Message AS [Message]
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Subjects_byClassId]    Script Date: 8/14/2020 10:13:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Duy Le
-- Create date: 7/28/2020
-- Description:	Get Student by Subjects
-- =============================================
create pROCEDURE [dbo].[sp_Subjects_byClassId]
	@ClassId INT
AS
BEGIN
SELECT s.[SubjectId]
      ,[SubjectName]
	  
  FROM [dbo].[Subject] s
  inner join [dbo].[ClassSubject] cs on s.SubjectId=cs.SubjectId
  WHERE cs.ClassId = @ClassId
END
GO
